<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body class="login">
  <div class="container">
    <%= yield %>
  </div> <!-- /container -->
</body>
</html>
